.header-nav {
    height: 100vh;
    width: auto;
    background-image: url("../images/jadon-kelly-Y-4LPhF4giI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .bg-light {
        background-color: transparent !important;
    }
    .nav-link,
    .navbar-brand {
        font-family: "Titillium Web", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 110%;
        line-height: 100%;
        color: #fff;
        letter-spacing: 0.09em;
        mix-blend-mode: normal;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover {
            color: rosybrown;
        }
    }
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
    }
    .header-main-tag {
        display: flex;
        justify-content: center;
        align-content: center;
        p {
            margin-top: 20%;
            text-align: center;
            font-family: "Raleway", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 220%;
            line-height: 150%;
            letter-spacing: 0.09em;
            color: #ffffff;
            mix-blend-mode: normal;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 1%;
        }
    }
    nav ul li a,
    nav ul li a:after,
    nav ul li a:before {
        transition: all 0.5s;
    }
    nav ul li a:hover {
        color: rosybrown;
    }
    nav.stroke ul li a,
    nav.fill ul li a {
        position: relative;
    }
    nav.stroke ul li a:after,
    nav.fill ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: ".";
        color: transparent;
        background: white;
        height: 1px;
    }
    nav.stroke ul li a:hover:after {
        width: 100%;
    }

    nav.fill ul li a {
        transition: all 2s;
    }

    nav.fill ul li a:after {
        text-align: left;
        content: ".";
        margin: 0;
        opacity: 0;
    }
    nav.fill ul li a:hover {
        color: #fff;
        z-index: 1;
    }
    nav.fill ul li a:hover:after {
        z-index: -10;
        animation: fill 1s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
    }
}
.info-section {
    .blocked-material {
        float: left;
        border: 5px solid #ffb600;
        width: 0px;
        height: 35px;
        clear: both;
        margin-top: 10%;
    }
    .info-material-title {
        margin-top: 10%;
        font-family: "Titillium Web", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 150%;
        line-height: 150%;
        color: #000000;
        letter-spacing: 0.06em;
    }
    .info-material {
        margin-top: 7%;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 200%;
        letter-spacing: 0.06em;
    }
}
.image-parent {
    width: 100%;
    margin-top: 10%;
}
.slogan-container {
    margin-top: 6%;
    .slogan-box {
        width: 60vw;
        height: auto;
        position: relative;
        z-index: 1;
        margin: 20px auto;
        padding: 20px;
        color: #726e97;
        .top::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 30%;
            width: 10%;
            border-top: 8px solid #aacc00;
        }
        .bottom::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            height: 30%;
            width: 10%;
            border-bottom: 8px solid #aacc00;
        }
        .left::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 50%;
            width: 50%;
            border-left: 8px solid #aacc00;
        }
        .right::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            height: 50%;
            width: 50%;
            border-right: 8px solid #aacc00;
        }
        p {
            padding: 10px;
            text-align: center;
            font-family: "EB Garamond", serif;
            font-style: italic;
            font-weight: normal;
            font-size: 140%;
            line-height: 150%;
            color: black;
        }
        .align-right {
            float: right;
            margin-right: 6%;
        }
    }
}
.info-section-two {
    margin-top: 4%;
    .info-section-border {
        border-left: #00a0e3 2px solid;
    }
    .image-info-section {
        width: 90%;
        box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    strong {
        color: #ffb600;
    }
}
.ieee-sies-info {
    .blocked-material {
        float: left;
        border: 5px solid #01c4ff;
        width: 0px;
        height: 35px;
        clear: both;
        margin-top: 10%;
    }
    .info-material-title {
        margin-top: 10%;
        font-family: "Titillium Web", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 150%;
        line-height: 150%;
        color: #000000;
        letter-spacing: 0.06em;
    }
    .info-material {
        margin-top: 7%;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 200%;
        letter-spacing: 0.06em;
    }
    .ieee-image {
        margin-top: 50%;
        width: 80%;
        filter: drop-shadow(0px 4px 5px rgba(20, 33, 61, 0.5));
    }
    button {
        display: inline-block;
        position: relative;
        background: none;
        border: none;
        color: #fff;
        font-family: "Titillium Web", sans-serif;
        font-size: 110%;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 0.06em;
        cursor: pointer;
        margin: 20px 0px;
        background: #aacc00;
    }
    span {
        display: block;
        padding: 10px 30px;
    }
    button::before,
    button::after {
        content: "";
        width: 0;
        height: 3px;
        position: absolute;
        transition: all 0.2s linear;
        background: #ffb600;
    }

    span::before,
    span::after {
        content: "";
        width: 3px;
        height: 0;
        position: absolute;
        transition: all 0.2s linear;
        background: #ffb600;
    }
    button:hover::before,
    button:hover::after {
        width: 100%;
    }
    button:hover span::before,
    button:hover span::after {
        height: 100%;
    }
    .button-ieee-section::before,
    .button-ieee-section::after {
        transition-delay: 0.2s;
    }
    .button-ieee-section span::before,
    .button-ieee-section span::after {
        transition-delay: 0s;
    }
    .button-ieee-section::before {
        right: 0;
        top: 0;
    }
    .button-ieee-section::after {
        left: 0;
        bottom: 0;
    }
    .button-ieee-section span::before {
        left: 0;
        top: 0;
    }
    .button-ieee-section span::after {
        right: 0;
        bottom: 0;
    }
    .button-ieee-section:hover::before,
    .button-ieee-section:hover::after {
        transition-delay: 0s;
    }
    .button-ieee-section:hover span::before,
    .button-ieee-section:hover span::after {
        transition-delay: 0.2s;
    }
    .ieee-section-traingle {
        width: 50px;
        height: 50px;
        background: #ffb600;
        border-top: 83.9px solid white;
        border-right: 200px solid transparent;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
        float: right;
        clear: both;
    }
}

.ieee-sies-info-2 {
    margin-top: 4%;
    .ieee-section-2 {
        border-right: #00a0e3 2px solid;
    }
    .info-material {
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 200%;
        letter-spacing: 0.06em;
    }
    .ieee-image {
        width: 90%;
        box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        display: block;
        margin: 0 auto;
    }
}

.team-picture {
    margin-top: 5%;
    .team-picture-heading {
        font-family: "Titillium Web", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 200%;
        line-height: 150%;
        color: #000000;
        letter-spacing: 0.06em;
        text-align: center;
    }
    .bottom::before {
        content: "";
        position: absolute;
        right: 20%;
        bottom: 0;
        height: 30%;
        width: 60%;
        border-bottom: 10px solid #01c4ff;
    }
    .team-picture-image {
        img {
            width: 90%;
            box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
            display: block;
            margin: 0 auto;
            margin-top: 5%;
        }
    }
}
.time-line {
    .blocked-material {
        float: left;
        border: 5px solid #ffb600;
        width: 0px;
        height: 35px;
        clear: both;
        margin-top: 10%;
    }
    .info-material-title {
        margin-top: 10%;
        font-family: "Titillium Web", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 150%;
        line-height: 150%;
        color: #000000;
        letter-spacing: 0.06em;
    }
}

.team-photos {
    .blocked-material {
        float: left;
        border: 5px solid #01c4ff;
        width: 0px;
        height: 35px;
        clear: both;
        margin-top: 10%;
    }
    .info-material-title {
        margin-top: 10%;
        font-family: "Titillium Web", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 150%;
        line-height: 150%;
        color: #000000;
        letter-spacing: 0.06em;
    }

    .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 300px 300px 300px;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

footer {
    background-color: #f3f6fd;
    font-size: 11.5px;
    font-weight: bold;
    color: rgb(189, 196, 203);
    .container-fluid {
        background-color: #f3f6fd;
    }
    .d-flex {
        img {
            width: 50px;
            height: 50px;
        }
    }
    .main-heading {
        font-family: "Titillium Web", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 250%;
        line-height: 150%;
        color: #000000;
        letter-spacing: 0.06em;
    }
    .card {
        padding: 2% 1%;
        color: #646771;
        background-color: #f3f6fd;
        border: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul > li {
        padding: 4px;
        font-family: "Lato", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 90%;
        line-height: 200%;
        letter-spacing: 0.06em;
    }

    hr {
        border-width: 3px;
    }

    .social > img {
        padding: 1%;
        font-size: 15px;
        width: auto;
        height: 30px;
        transition: 0.25s all ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }

    .policy > div {
        padding: 4px;
    }
    .card-text {
        li {
            img {
                padding: 1%;
                font-size: 15px;
                width: auto;
                height: 30px;
                transition: 0.25s all ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }
    }

    .heading {
        font-family: "Titillium Web", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 107%;

        text-transform: uppercase;

        color: #8f96a3;
    }

    .divider {
        border-top: 2px solid rgba(189, 196, 203, 0.5);
    }
    .extra-links {
        margin-right: 15%;
    }
    .newsletter {
        text-align: center;
        border: 1px solid #455065;
        box-sizing: border-box;
        border-radius: 100px;
        height: auto;
        width: 50%;
        span {
            display: inline-block;
            padding: 1% 1%;

            input {
                border: none;
                background: transparent;
            }
            input[type="text"]:focus {
                outline: none;
            }
            button {
                all: unset;
                background: #aacc00;
                border-radius: 50px;
                padding: 5px 10px;
                color: #ffffff;
                width: auto;
            }
        }
    }

    .fl-wrap {
        float: left;
        width: 100%;
        position: relative;
    }

    .bbb-wrapper .subcribe-form p {
        color: #fff;
        font-size: 14px;
    }

    .bbb-wrapper .subcribe-form form {
        max-width: 450px;
        margin: 15px auto;
        position: relative;
    }

    .bbb-wrapper .subcribe-form #subscribe input {
        width: 100%;
        height: 48px;
        background: #fff;
        border: none;
        outline: none;
        border-radius: 1px;
        padding: 0 30px;
        box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2);
    }

    .bbb-wrapper .subcribe-form #subscribe #subscribe-button {
        height: 38px;
        padding: 0 30px;
        border-radius: 3px;
        border: none;
        position: absolute;
        right: 6px;
        top: 6px;
        font-size: 11px;
        color: #fff;
        cursor: pointer;
    }

    .subscribe-message {
        color: #fff;
        float: left;
        margin-top: 10px;
        text-align: left;
        font-weight: 500;
        line-height: 19px;
    }

    .color-bg {
        background: #aacc00;
    }

    #subscribe-button:hover {
        background: #829b07;
        color: #fff;
    }
}

@media screen and (max-width: 767px) {
    .info-section-two {
        .info-section-border {
            margin-top: 4%;
            border-left: none;
            border-top: #00a0e3 2px solid;
        }
        .image-info-section {
            display: block;
            margin: 0 auto;
        }
    }
    .ieee-sies-info {
        .ieee-site-section {
            display: none;
        }
    }
    .ieee-sies-info-2 {
        .ieee-image {
            margin-top: 2%;
        }
        .ieee-section-2 {
            border-right: none;
            border-bottom: #00a0e3 2px solid;
            margin-bottom: 4%;
        }
    }
    .team-photos {
        .image-grid {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 300px 300px;
        }
    }
}
@media screen and (max-width: 1000px) {
    .team-photos {
        .image-grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 300px 300px;
        }
    }
}
@media screen and (max-width: 900px) {
    .page-footer {
        flex-direction: column;
    }
}
