.header-nav {
  height: 100vh;
  width: auto;
  background-image: url("../images/jadon-kelly-Y-4LPhF4giI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-nav .bg-light {
  background-color: transparent !important;
}

.header-nav .nav-link,
.header-nav .navbar-brand {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 110%;
  line-height: 100%;
  color: #fff;
  letter-spacing: 0.09em;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-nav .nav-link:hover,
.header-nav .navbar-brand:hover {
  color: rosybrown;
}

.header-nav .navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.header-nav .header-main-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-nav .header-main-tag p {
  margin-top: 20%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 220%;
  line-height: 150%;
  letter-spacing: 0.09em;
  color: #ffffff;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1%;
}

.header-nav nav ul li a,
.header-nav nav ul li a:after,
.header-nav nav ul li a:before {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-nav nav ul li a:hover {
  color: rosybrown;
}

.header-nav nav.stroke ul li a,
.header-nav nav.fill ul li a {
  position: relative;
}

.header-nav nav.stroke ul li a:after,
.header-nav nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: white;
  height: 1px;
}

.header-nav nav.stroke ul li a:hover:after {
  width: 100%;
}

.header-nav nav.fill ul li a {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.header-nav nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}

.header-nav nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

.header-nav nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.info-section .blocked-material {
  float: left;
  border: 5px solid #ffb600;
  width: 0px;
  height: 35px;
  clear: both;
  margin-top: 10%;
}

.info-section .info-material-title {
  margin-top: 10%;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 150%;
  line-height: 150%;
  color: #000000;
  letter-spacing: 0.06em;
}

.info-section .info-material {
  margin-top: 7%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90%;
  line-height: 200%;
  letter-spacing: 0.06em;
}

.image-parent {
  width: 100%;
  margin-top: 10%;
}

.slogan-container {
  margin-top: 6%;
}

.slogan-container .slogan-box {
  width: 60vw;
  height: auto;
  position: relative;
  z-index: 1;
  margin: 20px auto;
  padding: 20px;
  color: #726e97;
}

.slogan-container .slogan-box .top::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 30%;
  width: 10%;
  border-top: 8px solid #aacc00;
}

.slogan-container .slogan-box .bottom::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30%;
  width: 10%;
  border-bottom: 8px solid #aacc00;
}

.slogan-container .slogan-box .left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 50%;
  width: 50%;
  border-left: 8px solid #aacc00;
}

.slogan-container .slogan-box .right::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%;
  width: 50%;
  border-right: 8px solid #aacc00;
}

.slogan-container .slogan-box p {
  padding: 10px;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 140%;
  line-height: 150%;
  color: black;
}

.slogan-container .slogan-box .align-right {
  float: right;
  margin-right: 6%;
}

.info-section-two {
  margin-top: 4%;
}

.info-section-two .info-section-border {
  border-left: #00a0e3 2px solid;
}

.info-section-two .image-info-section {
  width: 90%;
  -webkit-box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.info-section-two strong {
  color: #ffb600;
}

.ieee-sies-info .blocked-material {
  float: left;
  border: 5px solid #01c4ff;
  width: 0px;
  height: 35px;
  clear: both;
  margin-top: 10%;
}

.ieee-sies-info .info-material-title {
  margin-top: 10%;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 150%;
  line-height: 150%;
  color: #000000;
  letter-spacing: 0.06em;
}

.ieee-sies-info .info-material {
  margin-top: 7%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90%;
  line-height: 200%;
  letter-spacing: 0.06em;
}

.ieee-sies-info .ieee-image {
  margin-top: 50%;
  width: 80%;
  -webkit-filter: drop-shadow(0px 4px 5px rgba(20, 33, 61, 0.5));
          filter: drop-shadow(0px 4px 5px rgba(20, 33, 61, 0.5));
}

.ieee-sies-info button {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 110%;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 20px 0px;
  background: #aacc00;
}

.ieee-sies-info span {
  display: block;
  padding: 10px 30px;
}

.ieee-sies-info button::before,
.ieee-sies-info button::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #ffb600;
}

.ieee-sies-info span::before,
.ieee-sies-info span::after {
  content: "";
  width: 3px;
  height: 0;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #ffb600;
}

.ieee-sies-info button:hover::before,
.ieee-sies-info button:hover::after {
  width: 100%;
}

.ieee-sies-info button:hover span::before,
.ieee-sies-info button:hover span::after {
  height: 100%;
}

.ieee-sies-info .button-ieee-section::before,
.ieee-sies-info .button-ieee-section::after {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.ieee-sies-info .button-ieee-section span::before,
.ieee-sies-info .button-ieee-section span::after {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.ieee-sies-info .button-ieee-section::before {
  right: 0;
  top: 0;
}

.ieee-sies-info .button-ieee-section::after {
  left: 0;
  bottom: 0;
}

.ieee-sies-info .button-ieee-section span::before {
  left: 0;
  top: 0;
}

.ieee-sies-info .button-ieee-section span::after {
  right: 0;
  bottom: 0;
}

.ieee-sies-info .button-ieee-section:hover::before,
.ieee-sies-info .button-ieee-section:hover::after {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.ieee-sies-info .button-ieee-section:hover span::before,
.ieee-sies-info .button-ieee-section:hover span::after {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.ieee-sies-info .ieee-section-traingle {
  width: 50px;
  height: 50px;
  background: #ffb600;
  border-top: 83.9px solid white;
  border-right: 200px solid transparent;
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
  float: right;
  clear: both;
}

.ieee-sies-info-2 {
  margin-top: 4%;
}

.ieee-sies-info-2 .ieee-section-2 {
  border-right: #00a0e3 2px solid;
}

.ieee-sies-info-2 .info-material {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90%;
  line-height: 200%;
  letter-spacing: 0.06em;
}

.ieee-sies-info-2 .ieee-image {
  width: 90%;
  -webkit-box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.team-picture {
  margin-top: 5%;
}

.team-picture .team-picture-heading {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 200%;
  line-height: 150%;
  color: #000000;
  letter-spacing: 0.06em;
  text-align: center;
}

.team-picture .bottom::before {
  content: "";
  position: absolute;
  right: 20%;
  bottom: 0;
  height: 30%;
  width: 60%;
  border-bottom: 10px solid #01c4ff;
}

.team-picture .team-picture-image img {
  width: 90%;
  -webkit-box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.25);
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

.time-line .blocked-material {
  float: left;
  border: 5px solid #ffb600;
  width: 0px;
  height: 35px;
  clear: both;
  margin-top: 10%;
}

.time-line .info-material-title {
  margin-top: 10%;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 150%;
  line-height: 150%;
  color: #000000;
  letter-spacing: 0.06em;
}

.team-photos .blocked-material {
  float: left;
  border: 5px solid #01c4ff;
  width: 0px;
  height: 35px;
  clear: both;
  margin-top: 10%;
}

.team-photos .info-material-title {
  margin-top: 10%;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 150%;
  line-height: 150%;
  color: #000000;
  letter-spacing: 0.06em;
}

.team-photos .image-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 300px 300px 300px;
      grid-template-rows: 300px 300px 300px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.team-photos .image-grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .info-section-two .info-section-border {
    margin-top: 4%;
    border-left: none;
    border-top: #00a0e3 2px solid;
  }
  .info-section-two .image-info-section {
    display: block;
    margin: 0 auto;
  }
  .ieee-sies-info .ieee-site-section {
    display: none;
  }
  .ieee-sies-info-2 .ieee-image {
    margin-top: 2%;
  }
  .ieee-sies-info-2 .ieee-section-2 {
    border-right: none;
    border-bottom: #00a0e3 2px solid;
    margin-bottom: 4%;
  }
  .team-photos .image-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 300px 300px;
        grid-template-rows: 300px 300px;
  }
}

@media screen and (max-width: 1000px) {
  .team-photos .image-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 300px 300px;
        grid-template-rows: 300px 300px;
  }
}
/*# sourceMappingURL=about.css.map */