@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");


html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.header-nav {
  height: 100vh;
  width: auto;
  background-image: url("../images/american-public-power-association-XGAZzyLzn18-unsplash\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-nav .bg-light {
  background-color: transparent !important;
}

.header-nav .nav-link,
.header-nav .navbar-brand {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 110%;
  line-height: 100%;
  color: #fff;
  letter-spacing: 0.09em;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-nav .nav-link:hover,
.header-nav .navbar-brand:hover {
  color: rosybrown;
}

.header-nav .navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.header-nav .header-main-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.header-nav .header-main-tag p {
  margin-top: 20%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 220%;
  line-height: 150%;
  letter-spacing: 0.09em;
  color: #ffffff;
  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1%;
}

.header-nav nav ul li a,
.header-nav nav ul li a:after,
.header-nav nav ul li a:before {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-nav nav ul li a:hover {
  color: rosybrown;
}

.header-nav nav.stroke ul li a,
.header-nav nav.fill ul li a {
  position: relative;
}

.header-nav nav.stroke ul li a:after,
.header-nav nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: white;
  height: 1px;
}

.header-nav nav.stroke ul li a:hover:after {
  width: 100%;
}

.header-nav nav.fill ul li a {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.header-nav nav.fill ul li a:after {
  text-align: left;
  content: ".";
  margin: 0;
  opacity: 0;
}

.header-nav nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

.header-nav nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

#header-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 150%;
  line-height: 110%;

  letter-spacing: -0.03em;
}

#header-second {
  font-family: Inter;
  font-weight: normal;
  font-size: 20px;
  line-height: 1px;
}

.solararea {
  height: 300px;
  width: 100vw;
  background: linear-gradient(360deg, #42ab31 0%, rgba(255, 245, 0, 0.1) 100%);
}

.panel-info {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.panel-value {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.photo-caption {
  font-weight: 400;
  font-family: sans-serif;
  font-size: 45px;
}

.photo-content {
  font-weight: 300;
  font-family: sans-serif;
  font-size: 25px;
}

.img-title {
  text-align: left;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 40px;
}
.img-desc {
  text-align: left;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 25px;
  width: 30vw;
}

.image-hold {
  box-shadow: 0px 3.84457px 30px 1.92229px rgba(0, 0, 0, 0.5);
}
.img-contain{
  transform: scale(0.8)
}





footer {
  background-color: #f3f6fd;
  font-size: 11.5px;
  font-weight: bold;
  color: #bdc4cb;
}

footer .container-fluid {
  background-color: #f3f6fd;
}

footer .d-flex img {
  width: 50px;
  height: 50px;
}

footer .main-heading {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 250%;
  line-height: 150%;
  color: #000000;
  letter-spacing: 0.06em;
}

footer .card {
  padding: 2% 1%;
  color: #646771;
  background-color: #f3f6fd;
  border: none;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul > li {
  padding: 4px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90%;
  line-height: 200%;
  letter-spacing: 0.06em;
}

footer hr {
  border-width: 3px;
}

footer .social > img {
  padding: 1%;
  font-size: 15px;
  width: auto;
  height: 30px;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}

footer .social > img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .policy > div {
  padding: 4px;
}

footer .card-text li img {
  padding: 1%;
  font-size: 15px;
  width: auto;
  height: 30px;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}

footer .card-text li img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .heading {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 107%;
  text-transform: uppercase;
  color: #8f96a3;
}

footer .divider {
  border-top: 2px solid rgba(189, 196, 203, 0.5);
}

footer .extra-links {
  margin-right: 15%;
}

footer .newsletter {
  text-align: center;
  border: 1px solid #455065;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  height: auto;
  width: 50%;
}

footer .newsletter span {
  display: inline-block;
  padding: 1% 1%;
}

footer .newsletter span input {
  border: none;
  background: transparent;
}

footer .newsletter span input[type="text"]:focus {
  outline: none;
}

footer .newsletter span button {
  all: unset;
  background: #aacc00;
  border-radius: 50px;
  padding: 5px 10px;
  color: #ffffff;
  width: auto;
}

footer .fl-wrap {
  float: left;
  width: 100%;
  position: relative;
}

footer .bbb-wrapper .subcribe-form p {
  color: #fff;
  font-size: 14px;
}

footer .bbb-wrapper .subcribe-form form {
  max-width: 450px;
  margin: 15px auto;
  position: relative;
}

footer .bbb-wrapper .subcribe-form #subscribe input {
  width: 100%;
  height: 48px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 1px;
  padding: 0 30px;
  -webkit-box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2);
}

footer .bbb-wrapper .subcribe-form #subscribe #subscribe-button {
  height: 38px;
  padding: 0 20px;
  border-radius: 3px;
  border: none;
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 11px;
  color: #fff;
  cursor: pointer;
}

footer .subscribe-message {
  color: #fff;
  float: left;
  margin-top: 10px;
  text-align: left;
  font-weight: 500;
  line-height: 19px;
}

footer .color-bg {
  background: #aacc00;
}

footer #subscribe-button:hover {
  background: #829b07;
  color: #fff;
}



@media screen and (min-width: 1280px) {
  .header-nav {
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 1025px) {
  .quote h1 {
    font-size: 3vh;
    width: 51vw;
  }
  .quote h5 {
    font-size: 15px;
  }
  .header-nav .header-main-tag p {
    font-size: 150%;
  }
  .solararea {
    height: 650px;
  }

  .photo-caption {
    font-size: 30px;
  }

  .photo-content {
    font-size: 22px;
  }

  .img-title {
    font-size: 30px;
  }
  .img-desc {
    width: 260px;
    font-size: 25px;
  }
  .image-hold img {
    object-fit: contain;
  }

  .mycol{
    margin: 0 !important;
    width: 100% !important;
  }
  .mycol1{
    margin: 0 !important;
    width: 100% !important;
  }
  .mycol2{
    margin: 0 !important;
    width: 100% !important;
  }
  .mycol3{
    margin: 0 !important;
    width: 100% !important;
  }
  .img-contain{
    transform: scale(1)
  }
  
}


@media screen and (max-width: 900px) {
  .page-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .sub-class {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=about.css.map */
